In [11]:
import quandl
import pandas as pd
from config import quand_key

In [5]:
#set api key
quandl.ApiConfig.api_key = quand_key

In [6]:
data = quandl.get("NBSC/A020908_M")

Balance of Imports and Exports, Accumulated|A06010E_M
Balance of Imports and Exports, Current Period|A06010D_M
Consumer Price Index (preceding month=100)|A01030101_M
Consumer Price Index (The same month last year=100)|A01010101_M
Consumer Price Index (The same period last year=100)|A01020101_M
Employment index|A090208_M
Employment index|A09010B_M
Manufacturing Purchasing Managers' Index|A090101_M
Money and Quasi-Money (M2) Supply,Growth Rate (The same period last year=100)|A0B0102_M
Money and Quasi-Money (M2) Supply, period-end|A0B0101_M
National Government Expenditure(exclude Debt Repayment), Accumulated|A0A0105_M
National Government Expenditure(exclude Debt Repayment), Accumulated Growth Rate|A0A0106_M
National Government Revenue, Accumulated|A0A0102_M
National Government Revenue,Accumulated Growth Rate|A0A0104_M
National Government Revenue, Current Period|A0A0101_M
National Government Revenue, Growth Rate (The same period last year=100)|A0A0103_M
New orders index|A090103_M
New orders index|A090202_M
Non-Manufacturing Business Index|A090201_M
Power Generation, Accumulated|A02082002_M
Power Generation, Accumulated Growth Rate|A02082004_M
Power Generation, Current Month|A02082001_M
Power Generation, Growth Rate (The same period last year=100)|A02082003_M
Producer Price Index for Industrial Products (preceding month=100)|A01080701_M
Producer Price Index for Industrial Products (The same month last year=100)|A010901_M
Producer Price Index for Industrial Products (The same month last year=100)|A01080101_M
Producer Price Index for Industrial Products (The same period last year=100)|A01080401_M
Supplier delivery time index|A09010C_M
Supplier delivery time index|A090209_M
Retail Sales of Consumer Goods of Enterprises above Designated Size,Accumulated|A050106_M
Retail Sales of Consumer Goods of Enterprises above Designated Size,Accumulated Growth Rate|A050108_M
Retail Sales of Consumer Goods of Enterprises above Designated Size,Current Period|A050105_M
Retail Sales of Consumer Goods of Enterprises above Designated Size,Growth Rate (The same period last year=100)|A050107_M
GDP Growth| NBSC/A070502_141_I_A
GDP Level|

In [ ]:
indicators = ['A010301_Q', 'A0B0102_M']

In [10]:
data

                Value
Date
2001-02-28   13813.23
2001-03-31   14242.67
2001-04-30   14372.32
2001-05-31   14622.45
2001-06-30   14854.05
...               ...
2017-06-30  126495.80
2017-07-31  128590.90
2017-08-31  129750.10
2017-09-30  132281.30
2017-10-31  135412.50

[159 rows x 1 columns]